<general-header></general-header>
<div class="content">
  <div class="area">
    <h2>Sign Up</h2>
    <div class="fillForm">
      <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
        <input type="text" matInput placeholder="username" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input placeholder="email" type="email" matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <!-- <mat-label>Enter your password</mat-label> -->
        <input
          placeholder="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint>At least 6 characters</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <!-- <mat-label>Enter your password</mat-label> -->
        <input
          placeholder="confirm password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button class="done">Continue</button>
    </div>
  </div>
</div>
