h1 {
  text-align: center;
  color: var(--tertiary);
  width: 100%;
}
mat-toolbar {
  height: 8vh;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}
