<div class="frame">
  <h3>Palette:</h3>
  <div class="palette">
    <div class="colors">
      <div class="merry">
        <div class="color1"></div>
        <div class="color2"></div>
        <div class="color3"></div>
        <div class="color4"></div>
      </div>
      <div class="go">
        <div class="color1"></div>
        <div class="color2"></div>
        <div class="color3"></div>
        <div class="color4"></div>
      </div>
      <div class="round">
        <div class="color1"></div>
        <div class="color2"></div>
        <div class="color3"></div>
        <div class="color4"></div>
      </div>
    </div>
    <div class="selection">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="merry"></mat-radio-button>
        <mat-radio-button value="go"></mat-radio-button>
        <mat-radio-button value="round"></mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
