div.page_body {
  padding: 0.5% 1% 0 1%;
}
div.main_content {
  width: 68%;
  display: inline-block;
  padding: 0 1% 0 1%;
}
div.secondary_content {
  width: 28%;
  padding: 0 1% 0 1%;

  display: inline-block;
}
