<div>
  <mat-card *ngFor="let product of products">
    <mat-card-content>
      <div class="product__frame">
        <div class="product">
          <div class="product__description">
            <h2>
              {{ product.name }}
            </h2>
            <p class="em">from {{ product.owner }}</p>
            <p>{{ product.description }}</p>
            <!-- <img src="{{ product.photo }}" /> -->
          </div>
        </div>
        <div class="more__actions">
          <mat-icon style="color: var(--grey)">favorite</mat-icon>
        </div>
        <div class="product__details">
          <div class="no__bids">bids: 0</div>
          <div class="average__bids">avg bid: 2tckts</div>
          <div class="product__winner">winner: TBD</div>
        </div>
      </div>
      <div class="secondary">
        <div class="bid__area">
          <div class="actions">
            <mat-icon>add_circle_outline</mat-icon>
            <h3>0</h3>
            <mat-icon>remove_circle_outline</mat-icon>
          </div>

          <button
            style="background-color: var(--green); color: var(--white)"
            mat-raised-button
          >
            Place bid
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
