mat-card {
  margin-bottom: 2%;
}
mat-card-content {
  display: flex;
  justify-content: space-around;
}
div.product__frame {
  width: 75%;
  display: inline-block;
  border-right: 1px solid black;
  display: flex;
}
div.product {
  width: 80%;
  display: inline-flex;

  img {
    width: 60%;
  }
  h2 {
    text-align: left;
  }
  div.product__description {
    margin: 2.5%;
  }
}
div.more__actions {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  mat-icon {
    font-size: 25pt;
  }
  border-right: 1px solid black;
  margin-right: 5%;
}
div.product__details {
  width: 30%;
  display: inline-block;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  margin-right: 5%;

  div.average__bids,
  div.no__bids {
    height: 25%;
    border-bottom: 1px solid black;
    width: 95%;
    flex: 1;
  }
  div.product__winner {
    height: 50%;
    flex: 2;
  }
}

div.secondary {
  width: 25%;
  display: flex;
  flex-direction: column;

  div.bid__area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    padding: 5%;
    height: 100%;
    // border: 1px solid black;

    h3 {
      text-align: center;
      // padding: 5%;
      font-size: 175%;
    }
    div.actions {
      display: flex;
      justify-content: center;

      mat-icon {
        font-size: 30px;
        display: inline-block;
        width: 50%;
        // height: 40%;
        text-align: center;
      }
    }
    button {
      width: fit-content;
      align-self: center;
      border-radius: 20px;
    }
  }
}
p.em {
  font-style: italic;
}
