/* Font families
----------------*/
@font-face {
  font-family: 'Agrandir-GrandHeavy';
  src: url('../assets/Agrandir/Agrandir-GrandHeavy.otf');
}
@font-face {
  font-family: 'Agrandir-GrandLight';
  src: url('../assets/Agrandir/Agrandir-GrandLight.otf');
}
@font-face {
  font-family: 'Agrandir-Narrow';
  src: url('../assets/Agrandir/Agrandir-Narrow.otf');
}
@font-face {
  font-family: 'Agrandir-Regular';
  src: url('../assets/Agrandir/Agrandir-Regular.otf');
}
@font-face {
  font-family: 'Agrandir-WideLight';
  src: url('../assets/Agrandir/Agrandir-WideLight.otf');
}
@font-face {
  font-family: 'Agrandir-TextBold';
  src: url('../assets/Agrandir/Agrandir-TextBold.otf');
}
