div.content {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  div.area {
    width: fit-content;
    h2 {
      margin-top: 10%;
      text-align: center;
    }
    padding: 1%;
  }
}

div.fillForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // height: 30vh;
  flex-direction: column;
  align-content: center;

  mat-form-field {
    display: block;
    // height: 8vh;
    width: 100%;
  }
}
button.signUpBtn {
  align-self: center;
  background-color: #44bba4;
  color: #393e41;
}
