:root {
  --like: #ff5757;
  --orange: #ff914d;
  --yellow: #ffde59;
  --green: #169d53;
  --red: #ff1616;
  --white: #f5f3f5;
  --grey: #a6a6a6;
}
.merry {
  --primary: #333132;
  --secondary: #ece816;
  --tertiary: #edebd7;
  --fourth: #e843a1;
}
.go {
  --primary: #439775;
  --secondary: #ffb86f;
  --tertiary: #d2e59e;
}
.round {
  --primary: #3e2f5b;
  --secondary: #b0bea9;
  --tertiary: #ffc49b;
}
