.example-container {
  width: 100vw;
  min-height: 100vh;
  //   margin: 12px;
  border: 1px solid #555;
}
mat-drawer {
  width: 20vw;
  background-color: var(--secondary);
  padding-top: 8vh;
}
button.logout_btn {
  margin: 5%;
}
button.logout_btn:hover {
  background-color: var(--fourth);
}
div.logout_btn {
  text-align: center;
}
mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section {
  display: table;
}
mat-toolbar {
  background-color: var(--primary);
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  text-align: center;
  color: var(--tertiary);
}
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
mat-drawer-content {
  width: 100%;
}
product-list {
  width: 100%;
}
